.gallery{
    width:100%;
}

/* MAIN */

.main-gallery{
    height:70vh;
    overflow:hidden;
    background:#0005;
    position:relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.gallery-track{
    display:flex;
    height:100%;
    transition:transform .3s ease;
}

.slide{
    min-width:100%;
    height:100%;
    position:relative;
}

/* layered images */

.slide img{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    transition:opacity .35s ease;
}

.cover{
    object-fit:cover;
    opacity:1;
}

.contain{
    object-fit:contain;
    opacity:0;
}

.slide.active .cover{
    opacity:0;
}

.slide.active .contain{
    opacity:1;
}


/* description */

.caption{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding:30px;
    color:rgb(143, 143, 143);
    background:linear-gradient(transparent, rgba(0,0,0,1));
    opacity:0;
    transition:.3s;
}

.caption_title{
    color: #f39c12;
    letter-spacing: 3px;
}

.slide.active .caption{
    opacity:1;
}


/* DOCK */

.thumb-dock{
    display:flex;
    gap:14px;
    padding:14px;
    overflow-x:auto;
    background: rgba(0, 0, 0, .8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* flex spacers for centering without breaking scroll */
.thumb-dock::before,
.thumb-dock::after{
    content:"";
    flex:1 0 auto;
}

.thumb{
    width:90px;
    height:60px;
    flex:0 0 auto;
    cursor:pointer;
    opacity:.5;
    transition:.3s;
}

.thumb img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:6px;
}

.thumb.active{
    opacity:1;
    transform:scale(1.25);
}

.thumb.active img{
    box-shadow: 0px 0px 10px 2px #f39c1244;
    border-width: 1px;
    border-style: solid;
    border-color: #f39c12AA;
}


/* Scrollbar */

.thumb-dock::-webkit-scrollbar{
    height:6px;
}

.thumb-dock::-webkit-scrollbar-thumb{
    background:#4445;
    border-radius:3px;
}