/* .resume {
    background: #f3f3f3;
    border: 1px solid #ddd;
} */

.resume-left {
    padding: 30px;
    /* border-right: 1px solid #ddd; */
}

.resume-right {
    padding: 30px;
    /* background: #efefef; */
}

.section {
    margin-bottom: 25px;
    color:#999;

}

.section-title {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .5px;
    /* color: #f39c12; */
    border-bottom: 2px solid #d41844;
    padding-bottom: 4px;
    margin-bottom: 15px;
    color:#d41844;

    
}

.meta {
    color:#d41844;
    font-size: 14px;
    margin-bottom: 6px;
}

.resume ul {
    padding-left: 18px;
}

.resume li {
    margin-bottom: 6px;
}

.resume li::marker {
    color:#666  ;
}

/* FOR SUB SKILLS AREA */
.sub {
    font-weight: 700;
    margin-top: 15px;
    color: #ffffff;

}

.resume_container{
    background-color: #41232b44;
    border-radius: 10px;
    box-shadow: 0px 20px 20px 1px #00000022;

}

.resume_role{
    color: #ffffff;
    font-weight:normal;   
    font-size: 24px; 

}