@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    /* background-color: #000; */
    background-image: linear-gradient(to top, #110e1bFF, #110e1bee), url(https://images.unsplash.com/photo-1579548122080-c35fd6820ecb?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    color: #888;
    /* font-family: 'Segoe UI', sans-serif; */
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    /* border-bottom: 1px solid #333; */
    padding-bottom: 20px;
    margin-bottom: 40px;
}

footer {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

h1 { letter-spacing: 5px; }
h3 { letter-spacing: 5px; font-weight: 200; color: #f39c12 }


/* NAV BAR */
.navbar {
    background-color: #110e1bDD;
    backdrop-filter: blur(10px);
    z-index: 10; /* or remove if very high */
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, .5);


}

.film_role {

    text-align: center;
    padding: 4px 16px;
    letter-spacing: 2px;
    font-size: 10px;
    color: #CCC

}

.category {
    overflow: auto;
    padding: 1%;
    overflow-y: hidden; /* hide vertical */
    /* margin: 200; */
}

.category h2 {
    font-size: 1rem;
    color: #888;
    border-left: 3px solid #f39c12; /* Gold accent */
    padding-left: 10px;
    margin-bottom: 15px;
    letter-spacing: 3px;
    font-size: 12px;
}

/* Styling the Scrollbar for Chrome/Safari */
.category::-webkit-scrollbar {
    height: 6px;
}
.category::-webkit-scrollbar-thumb {
    background: #4445;   
    border-radius: 3px;

}

/* The Horizontal Scroll Container */
.poster-track {
    display: flex;
    gap: 15px;
    padding-bottom: 20px;
    scrollbar-width: thin; /* For Firefox */
}

.poster :hover,.poster:has(img:hover){
    transform: scale(1.2);
    transition: transform 0.3s ease;
    /* box-shadow: 0px 0px 50px 10px rgb(197, 90, 90); */


}

.poster img {
    height: 225px; /* Adjust based on your poster aspect ratio */
    width: 150px;
    display: block;
    border-radius: 6px;
    object-fit: cover;

}

.poster img,
.film_role {
    width: 150px;
}
.poster img:hover {
    transform: none;
    overflow: true;
    box-shadow: 0px 10px 20px 3px rgb(0, 0, 0);

}

/* PROFILE PICTURE  */
.profile-image{
    height: 25vh;
    width: 25vh;
    object-fit: cover;
    object-position: 0 15%; /* The offset */
    border-radius: 30vh;
    box-shadow: 0px 0px 300px 100px #000000FF;
    /* margin-bottom: 50px;
    margin-top: 10px; */

}

.site-heading {
    font-size: 60px;
    font-weight: 400;
    color: rgb(92, 187, 92);
    /* color:#7c162e; */

}

.site-heading-role{
    font-size: 20px;
    font-weight: normal;
    /* color: rgb(92, 187, 92);     */
    color:#d41844;
}
.creator-name {
    font-weight: bold;
    /* color: rgb(41, 226, 41);
    color:#af042c; */
    letter-spacing: 10px;

    background: linear-gradient(90deg, #a78bfa, #7c3aed, #c084fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.homepage {
    /* background-image: linear-gradient(to top, #0D1212, #36193ecc), url(https://images.unsplash.com/photo-1579546929518-9e396f3cc809?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    width:100%;
    font-family: Montserrat, sans-serif;
}

.homepage {
    /* background-image: linear-gradient(to top, #0D1212, #36193ecc), url(https://images.unsplash.com/photo-1579546929518-9e396f3cc809?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    width:100%;
    font-family: Montserrat, sans-serif;
    justify-items: center;
}

/* POPUP */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 92vw;     /* almost full width */
    height: 92vh;    /* almost full height */

    background: rgba(19, 19, 19, 0.95);
    color: white;
    padding: 30px;
    border-radius: 12px;

    display: none;
    z-index: 1000;
    overflow-y: auto;
}

.popup.show {
    display: block;
}

.popup-close {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    font-size: 32px;   /* bigger */
    font-weight: 300;
    line-height: 1;
    z-index: 10000;

}

.popup-close:hover {
    transform: scale(1.2);
}

.popup-image {
    max-height: 50vh;
    width: auto;
    border-radius: 6px;
}

.popup-title {
    margin:auto;
    font-size: 24px;
    font-weight: bold;
}
.popup-role {
    margin:auto;
    font-size: 18px;
    font-weight: bold;
}
.popup-description {
    margin:auto;
    font-size: 18px;
    font-weight:lighter;
}

.popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 999;
}

.popup-overlay.show {
    opacity: 1;
    pointer-events: auto;
}

/* YOUTUBE */
.video-thumb {
    cursor: pointer;
    transition: 0.3s ease;
}

.video-thumb:hover {
    transform: scale(1.05);
}

.video-thumb img {
    border-radius: 8px;
}

.youtube {
    align-items: center;
    align-self: center;

}

/***** Contact *****/
.section-contact {
    background-color: #0D1212;
    font-family: Montserrat, sans-serif;
    color: #5a7184;
}

.footer-icon {
    color: #9aa5b1;
}

.footer-logo-container {
    background-color: #3c162f;
    margin: 10px;
    border-radius: 100px;
    height: 60px;
    width: auto;
}

.showreel_btn {
    background-color: #202b36;
    margin: 10px;
    border-radius: 100px;
    height: 60px;
    width: auto;
    align-items: center;
    text-align: center;
}

.showreel_text {
    
    font-weight: bold;
    width: 25%;
    overflow:hidden;
    letter-spacing: 10px;
    color:#fff;
    font-size: 20

}

.showreel_logo {
    color: #5a7184;
    font-size: 32px;
    display:inline-flex;
}

.contact-icon {
    padding: 5px;
    margin: 10px;
    color: #7c162e;
    /* color: #af042c; */
    font-size: 32px;
}

.footer-heading {
    color: #7c162e;
    font-weight: 700;
    font-size: 26px;
}

.footer-text {
    color: #7c162e;
    font-weight: 500;
}

.svg_contact img{
    width: 128px;
    height: 128px;
}